# Ignore the virtual environment
/venv

# Ignore dynamically created files
__pycache__
*.pyc

# Ignore macOS .DS_Store files
.DS_Store

# Ignore vs code settings
.vscode/settings.json

# Ignore local data
.application/data/*

# Ignore localy generated graphs
.application/graphs/*