{% extends "layout.html" %}

{% block content %} 

<div class="container rounded shadow-sm p-5">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Generate a custom graph!</legend>
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        {{ form.data_type.label(class="form-control-label") }}

                        {% if form.data_type.errors %}
                            {{ form.data_type(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.data_type.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        
                        {% else %}
                            {{ form.data_type(class="form-control") }}
                        {% endif %}

                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        {{ form.start_date.label(class="form-control-label") }}

                        {% if form.start_date.errors %}
                            {{ form.start_date(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.start_date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        
                        {% else %}
                            {{ form.start_date(class="form-control") }}
                        {% endif %}
                        
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        {{ form.end_date.label(class="form-control-label") }}
                        {% if form.end_date.errors %}
                            {{ form.end_date(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.end_date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        
                        {% else %}
                            {{ form.end_date(class="form-control") }}
                        {% endif %}
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        {{ form.time_frame.label(class="form-control-label") }}
    
                        {% if form.time_frame.errors %}
                            {{ form.time_frame(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.time_frame.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        
                        {% else %}
                            {{ form.time_frame(class="form-control") }}
                        {% endif %}
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% if graph_generated %} 
    <div class="container rounded shadow-sm p-5">
        <img class="graph_image" src="{{ url_for('static', filename='image/graphs/custom.png') }}" alt="Custom generated graph">
    </div>
{% endif %}

{% endblock content %} 