{% extends "layout.html" %}

{% block content %} 

<div class="container rounded shadow-sm p-5">
    <div class="row">
        <div class="col-sm-4">
            <h1>It's currently</h1>
            <h1 class="display-1">{{ temperature }} &#8451;</h1>
            <h1 class="ml-10">outside.</h1>
        </div>
        <div class="col-sm-8">
            <h1>Temperature history</h1>
            <img class="graph_image" src="{{ url_for('static', filename='image/graphs/homePage.png') }}" alt="Temperature graph">
        </div>
    </div>
</div>    
{% endblock content %} 