{% extends "layout.html" %}

{% block content %}

<div class="container rounded shadow-sm p-5">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend> Select a weekday to generate a graph!</legend>
            <div class="row">
                <!-- Maybe we need a datatype selectfield here? other than temperature-->
                <div class="col">
                    <div class="form-group">
                        {{ form.weekday.label(class="form-control-label")}}
                        
                        <!-- No need to check for errors because it is a selectfield -->
                        {{ form.weekday(class="form-control") }}

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

{% if graph_generated %} 
    <div class="container rounded shadow-sm p-5">
        <img class="graph_image" src="{{ url_for('static', filename='image/graphs/weekdayGraph.png') }}" alt="Custom generated graph">
    </div>
{% endif %}


{% endblock content %}